<a id="lightcontrol_indicator" class="pull-right" title="Toggle Light" href="#" data-bind="click: function() { loginState.isUser() && $root.toggleLight(); }>
    <i class="fa fa-lightbulb"></i>
</a>
